# SPDX-License-Identifier: GPL-2.0-only
*.moc
*conf-cfg

#
# configuration programs
#
.ninja_deps
.ninja_log
conf
conf.o
confdata.o
expr.o
util.o
lxdialog/checklist.o
lxdialog/inputbox.o
lxdialog/menubox.o
lxdialog/textbox.o
lxdialog/util.o
lxdialog/yesno.o
mconf
mconf.o
preprocess.o
symbol.o
lexer.tab.c
lexer.tab.o
parser.tab.c
parser.tab.h
parser.tab.o
